body{
    font-family: 'Roboto Slab', serif;
    display: inline-block;
}
html {
    scroll-behavior: smooth;
  }

/* Navbar rgb(247, 236, 215)  #f08080  #fb9f9f*/
nav{
    background-image: linear-gradient( to right, rgb(253, 210, 173), peachpuff);
    border-top: 3px solid rgb(252, 228, 196); border-bottom: 3px solid rgb(252, 228, 196);
    /* background-image: linear-gradient(to right, #fb5858, #e44e4e, rgb(255, 89, 172), #fb5858, rgb(255, 70, 162)); */
    position: fixed;
    width: 100%;
    z-index: 2;
} 
#navbar{
    list-style: none;
    display: flex;
    /* padding: ; */
    margin-top: 3px;
    margin-right: 20px;
}
.navigate{
    padding: 20px;
    color: white;
    font-family: 'Monoton', cursive; font-size: xx-large;
}
a:visited{text-decoration: none;} a:any-link{text-decoration: none;} .navigate:hover{color:papayawhip;} a:hover{color:rgb(16, 185, 252) ;}

/* Header */
header{background-image: linear-gradient(to right, bisque 50%, pink, #f08080); margin-top: 100px; }
#headerContainer{padding: 20px 80px 200px;}
.school{height: 75px; margin-top: 10px; margin-left: 30px; float: right;}
#me{height: 400px; margin-top: 0; border: 1px solid gray; border-radius: 50%; position: relative; z-index: 1;}
#headerName{font-family: "Berkshire Swash", cursive; font-size: 70px; width: 100%; text-align: right; color: white; margin-bottom: 50px;}
#headerText{margin-top: -400px; line-height: 1.5em; text-align: right;}
.bio{color:white; font-weight: bold; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif; font-size: 18px; text-align: right;}
/* #box{ text-align: right; margin-top: -300px;} */

/* About */
#about{
    position: relative;
    margin-top: 20px;
} #name{font-size: 60px; background-color: #f08080; color:white; padding-left: 5px; padding-bottom: 5px;}
#aboutPhoto{
    float: left;
    height:300px;
    border: 1px solid lightgray;
    margin-right: 10px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.lead{
    margin-left: 15px;
    text-align: justify;
}

/* 2021 section */
#projects2021{
    background-color: #fb5858;
    display: inline-block;
    margin: auto;
    width: 100%;
}
.card-columns {
    display: inline-block;
  }
.card{
    width: 20em;
}
#row1, #row2{
    padding: 10px;
    margin-bottom: 20px;
}

/* 2018 section */
h3{
    padding: 25px;
}
#projects2018{
    background-color:  #ffbfd3;
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
}
iframe{
    width: 255px;
    height: 500px;
    border: 5px white solid;
}



/* Contact Form */
#wholeContact{width: 85%; margin:auto}
#contact{
    background-color: rgb(255, 70, 162);
    border: solid 1px white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 10px;
}
#contactHeader {
    color: rgb(255, 70, 162);
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 4px 3px rgb(0 0 0 / 30%);
    font-size: 40px; font-family: "Monoton", cursive;
    padding: 5px;
    width: 40%;
    margin: auto;
}
.form-group{
    width: 80%;
    margin:auto;
}
#contactButton:hover{background-color: palevioletred;}

/* Footer */
i{color: palevioletred; padding-right: 15px; padding-left: 15px;} i:hover{color: rgb(16, 185, 252);}
footer{margin-top: 30px; width: 100%; margin-left: 70px; font-size: 30px;} #textFooter{font-size: 16px;}
